body {
	width: 500px;
	padding: 20px;
}

p {
	margin: 0;
	line-height: 120%;
	word-wrap: break-word;
	word-break: normal;
}

#title .card-title {
	line-height: 100%;
}

#title .card-title {
	color: #74C2CE;
}

.card {
	margin-bottom: 20px;
}

.avatar {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 30px;
}

.user_info {
	float: left;
	margin-left: 10px
}

.card .card-content p.user_name {
	font-size: 16px;
	font-weight: bold;
	color: #74C2CE;
}

.card .card-content p.update_info {
	font-size: 16px;
	margin-top: 5px;
	color: color(black lightness(+46.7%));
}

.github-icon {
	position: relative;
	top: 5px;
	float: right;
}

.repo_intro {
	font-size: 14px
}

.chip-group {
	margin-top: 15px;
	margin-bottom: 0;
}
